body {
	background: #eee;
	display: flex;
}
.header {
	padding-left: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	display: flex;
	align-items:center;
}

.logo{
	height: 60px;
	margin-right: 10px;
}
.top{
	display: flex;
	margin-right: 0;

}
    
.sidebar {
    width: 200px;
    background: #eee;
    padding-left:0px;
    margin: 0px;
}
h2{
	margin-left: 20px;
}
.right:{
  	flex-grow:1;

}
.style{
	display: flex;
	width: 1000px;
	justify-content: space-between;
	
	
}
.right-itme{
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	display: block;
	align-items:center;

}
.nav-itme{
    padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	display: block	;
	align-items:center;
   
	}
a:link { 
	text-decoration: none;
} 